.content
{
    display: grid;

    flex: 1;
    min-height: 0;
    min-width: 0;
    overflow: hidden;

    .main-content
    {
        display: flex;
        flex-direction: column;
        min-height: 0;
        min-width: 0;
    }
}

.gui-version
{
    text-align: center;
    font-size: 0.7em;
}

console
{
    z-index: 1;
}