@use 'sass:meta';

@use 'vars';
@use 'mixins';

//---------------------- PAGE STYLING ----------------------
.app-page
{
    font-family: "Inter";
    user-select: none;

    //############## PACKAGES ##############

    @include meta.load-css('../../node_modules/@anglr/common/styles/light');

    //############## BLOCKS ##############
    
    .popup-block
    {
        padding: vars.$sizeSm;
        border-radius: vars.$borderRadius;
    }

    .primary-block,
    .secondary-block
    {
        padding-top: vars.$sizeSm;
        padding-bottom: vars.$sizeSm;
    }

    .highlight-block
    {
        padding: vars.$sizeSm;
        border-radius: vars.$borderRadius;
    }

    //############## TITLED DIALOG ##############

    titled-dialog,
    movable-titled-dialog
    {
        .titled-dialog-title
        {
            border-top-left-radius: vars.$borderRadius;
            border-top-right-radius: vars.$borderRadius;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .titled-dialog-content
        {
            border-bottom-left-radius: vars.$borderRadius;
            border-bottom-right-radius: vars.$borderRadius;
        }
    }

    //############## TITLES ##############

    .page-title
    {
        padding: 20px 20px 10px;
        font-size: 22px;
        margin: vars.$sizeSm 0 0;
    }

    .section-title
    {
        margin-bottom: vars.$sizeXs;
        margin-left: vars.$sizeXs;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 1.05em;
    }

    .subsection-title
    {
        margin-bottom: vars.$sizeXs;
        margin-left: vars.$sizeXs;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 0.9em;
    }

    //############## DIALOG ##############

    mat-dialog-container
    {
        padding: 0;
        overflow: visible;
    }

    //############## BUTTONS ##############

    %btn-base
    {
        letter-spacing: 1px;
        background-image: none;
        text-shadow: 0 0;
        box-shadow: 0 0;
        text-transform: uppercase;
        transition: all 350ms;
        border-style: solid;
        border-width: 1px;
        border-radius: vars.$borderRadius;
        padding: 4px 10px;
        font-family: "Inter";
        cursor: pointer;
        white-space: nowrap;
        font-size: 11px;
    }

    .btn
    {
        @extend %btn-base;

        &:active:not(.disabled)
        {
            box-shadow: 0 0;
        }

        &:active:not(.disabled)
        {
            // padding-left: 9px;
            // padding-right: 9px;
            // margin-left: 3px;
            // margin-right: 3px;
        }

        span[class^="fa"],
        span[class^="fas"],
        span[class^="fab"],
        span[class^="glyphicon"]
        {
            margin-right: vars.$sizeXs;
        }
    }

    multi-button.btn
    {
        padding: 0;
        
        button
        {
            @extend %btn-base;
        }
    }

    .btn-icon
    {
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
    }

    //############## ALERTS ##############

    .alert
    {
        padding: 6px 8px;
        border-radius: vars.$borderRadius;
        border-width: 1px;
        margin-top: 10px;
        margin-right: 10px;
        border-style: solid;
    }


    //############## MISC SHARED ##############

    @include meta.load-css('misc');

    //############## MISC ##############

    hr
    {
        margin-bottom: vars.$sizeXs;
        margin-top: vars.$sizeXs;
        border: none;
        border-top-width: 1px;
        border-top-style: solid;
    }

    .text-selection
    {
        user-select: text;
    }

    .line-height-default
    {
        line-height: 1em;
    }
    
    .border-round
    {
        border-radius: vars.$borderRadius;
    }

    .top-border-round
    {
        border-top-left-radius: vars.$borderRadius;
        border-top-right-radius: vars.$borderRadius;
    }

    .bottom-border-round
    {
        border-bottom-left-radius: vars.$borderRadius;
        border-bottom-right-radius: vars.$borderRadius;
    }

    .left-border-round
    {
        border-top-left-radius: vars.$borderRadius;
        border-bottom-left-radius: vars.$borderRadius;
    }

    .right-border-round
    {
        border-top-right-radius: vars.$borderRadius;
        border-bottom-right-radius: vars.$borderRadius;
    }

    .top-left-border-round
    {
        border-top-left-radius: vars.$borderRadius;
    }

    .bottom-left-border-round
    {
        border-bottom-left-radius: vars.$borderRadius;
    }

    .top-right-border-round
    {
        border-top-right-radius: vars.$borderRadius;
    }

    .bottom-right-border-round
    {
        border-bottom-right-radius: vars.$borderRadius;
    }

    .extra-small-text
    {
        font-size: vars.$fontSizeXs;
    }
    
    .small-text
    {
        font-size: vars.$fontSizeSm;
    }

    .medium-text
    {
        font-size: vars.$fontSizeMd;
    }

    .large-text
    {
        font-size: vars.$fontSizeLg;
    }

    .extra-large-text
    {
        font-size: vars.$fontSizeXl;
    }

    .extra-extra-large-text
    {
        font-size: vars.$fontSizeXxl;
    }

    @include mixins.generate-margin-padding(padding, vars.$sizes);
    @include mixins.generate-margin-padding(margin, vars.$sizes);

    .spread-text
    {
        letter-spacing: 1px;
    }

    //############## COMPONENTS ##############

    @include meta.load-css('parts/forms');
}